<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Ecomerce</title>
                <link rel="stylesheet" href="/css/base.css">
                <link rel="stylesheet" href="/css/index.css">
                <link rel="stylesheet" href="/css/login.css">
        </head>
        <body>
                <section class="prompt">
                        <h3>a b c d</h3>
                        <h1>Sign up</h1>

                        <form action="/api/register" method="post">
                                <section>
                                        <label for="name">Username</label>
                                        <input id="name" name="name" type="text" autocomplete="name" required>
                                </section>

                                <section>
                                        <label for="email">Email</label>
                                        <input id="email" name="email" type="email" autocomplete="email" required>
                                </section>
                                <section>
                                        <label for="phone">Phone</label>
                                        <input id="phone" name="phone" type="phone" autocomplete="phone" required>
                                </section>

                                <section>
                                        <label for="address">Address</label>
                                        <input id="address" name="address" type="address" autocomplete="address" required>
                                </section>

                                <section>
                                        <label for="new-password">Password</label>
                                        <input id="new-password" name="password" type="password" autocomplete="new-password" required>
                                </section>
                                <!-- <section>
                                        <label for="repeate-password">Repeat Password</label>
                                        <input id="repeate-password" name="password_1" type="password" autocomplete="repeate-password" required>
                                </section> -->

                                <button type="submit">Sign up</button>
                        </form>


                        <hr>
                        <p class="help">Already have an account? <a href="/api/login">Sign in</a></p>
                </section>
                <footer class="info">
                        <p>Created by <a href="#">@Charles_Isasi</a></p>
                        <p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
                </footer>
        </body>
</html>
